<%#
# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
%>

<%= "servcios.html" %>

<!DOCTYPE html>
<html>
    <head>
        <title>Servicios</title>
        <meta charset="utf-8">
        <link href="../../assets/stylesheets/application.css" rel="stylesheet" type="text/css"/>
        <link href="../../assets/stylesheets/foundation.css" rel="stylesheet" type="text/css"/>
        <link href="../../assets/stylesheets/foundation.min.css" rel="stylesheet" type="text/css"/>
        <link href="../../assets/stylesheets/normalize.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>Servicios</h1>
    </body>
</html>